<style>
  .container {
    width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  }
</style>

<div class="container">
  <img src="https://i.imgur.com/oUAKMC5.png" alt="rentx">

  <br />

  <span>Oi, {{name}}</span>

  <br />

  <span>Você solicitou alteração de senha.</span>
  <span>Para realizar a troca, clique no link 
    <a href={{link}}>{{link}}</a>
  </span>

  <span>Caso não tenha sido você quem solicitou o email, basta ignorá-lo</span>

  <strong>Obrigado!</strong>

  <h3>Equipe | <strong>Rentx</strong></h3>
</div>